/* CSS for the slider container */
.slider-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

/* CSS for the textarea */
textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
}

/* CSS for dropdowns */
.dropdown-container {
    display: flex;
    align-items: center;
}

.dropdown-select {
    margin-right: 10px;
}

.dropdown-button {
    margin-left: 10px;
}
#commentTextarea{
    height: 600px;
}
.container{
    max-width: 1950px;
}